
server/timevis_backend/__pycache__/backend_adapter.cpython-37.pyc
server/timevis_backend/__pycache__/__init__.cpython-37.pyc
server/timevis_backend/__pycache__/utils.cpython-37.pyc
data/
.DS_Store
.vscode
server/timevis_backend/__pycache__/
