Flask==2.0.3
Flask_Cors==3.0.10
matplotlib==3.5.0
Model==0.6.0
numpy==1.20.3
pandas==1.3.4
Pillow==9.1.0
pynndescent==0.5.1
scikit_learn==1.0.2
scipy==1.7.2
seaborn==0.11.2
SQLAlchemy==1.4.32
tensorflow==2.7.0
torch==1.10.0+cu113
tqdm==4.62.3
umap==0.1.1
umap_learn==0.5.0


# absl-py==1.4.0
# anyio @ file:///tmp/build/80754af9/anyio_1644481697509/work/dist
# argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
# argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569681205/work
# ase==3.22.1
# asttokens==2.2.1
# astunparse==1.6.3
# attrs @ file:///croot/attrs_1668696182826/work
# backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
# beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
# bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
# bokeh @ file:///tmp/abs_34854e1f-d7d3-4f22-85d9-1075588e4ecdga64o0qg/croots/recipe/bokeh_1658136654619/work
# Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
# brotlipy==0.7.0
# cachetools==5.3.0
# certifi @ file:///croot/certifi_1671487769961/work/certifi
# cffi @ file:///tmp/build/80754af9/cffi_1669355738745/work
# charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
# click==8.1.3
# cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
# cmake==3.25.2
# colorama==0.4.6
# colorcet @ file:///croot/colorcet_1668084511401/work
# cryptography @ file:///croot/cryptography_1665612644927/work
# cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
# Cython==0.29.33
# cytoolz @ file:///croot/cytoolz_1667465931118/work
# dask==2021.10.0
# datashader @ file:///croot/datashader_1676022884151/work
# datashape==0.5.4
# debugpy @ file:///tmp/build/80754af9/debugpy_1637091426235/work
# decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
# defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
# Deprecated==1.2.13
# entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908585034/work
# executing==1.2.0
# fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
# Flask==2.1.2
# Flask-Cors==3.0.10
# flatbuffers==23.1.21
# fonttools==4.37.4
# fsspec @ file:///croot/fsspec_1670336592807/work
# gast==0.4.0
# google-auth==2.16.0
# google-auth-oauthlib==0.4.6
# google-pasta==0.2.0
# googledrivedownloader==0.4
# grpcio==1.51.1
# gudhi==3.7.1
# h5py==3.8.0
# holoviews @ file:///croot/holoviews_1676372888382/work
# hopcroftkarp==1.2.5
# icecream==2.1.3
# idna @ file:///croot/idna_1666125576474/work
# imagecodecs @ file:///opt/conda/conda-bld/imagecodecs_1664561985385/work
# imageio @ file:///tmp/abs_cd920173-f360-47c5-97b0-bf4d1076d5d4dvic0oys/croots/recipe/imageio_1658785036907/work
# importlib-metadata==4.13.0
# importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
# ipykernel @ file:///opt/conda/conda-bld/ipykernel_1662361798230/work
# ipython @ file:///tmp/abs_94gruux8u8/croots/recipe/ipython_1659529858706/work
# ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
# isodate==0.6.1
# itsdangerous==2.1.2
# jedi @ file:///tmp/build/80754af9/jedi_1644299024593/work
# Jinja2 @ file:///croot/jinja2_1666908132255/work
# joblib==1.2.0
# jsonschema @ file:///croot/jsonschema_1676558650973/work
# jupyter-server @ file:///croot/jupyter_server_1671707632269/work
# jupyter_client @ file:///croot/jupyter_client_1669040270237/work
# jupyter_core @ file:///croot/jupyter_core_1668084443243/work
# jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
# keras==2.11.0
# kiwisolver @ file:///croot/kiwisolver_1672387140495/work
# kmapper==2.0.1
# libclang==15.0.6.1
# llvmlite==0.39.1
# locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
# lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
# Markdown @ file:///croot/markdown_1671541909495/work
# MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
# matplotlib @ file:///croot/matplotlib-suite_1667356714455/work
# matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
# mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
# mkl-fft==1.3.1
# mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
# mkl-service==2.4.0
# mpmath==1.2.1
# multipledispatch==0.6.0
# munkres==1.1.4
# nbclassic @ file:///croot/nbclassic_1676902904845/work
# nbclient @ file:///tmp/build/80754af9/nbclient_1650308370114/work
# nbconvert @ file:///croot/nbconvert_1668450669124/work
# nbformat @ file:///croot/nbformat_1670352325207/work
# nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847911453/work
# networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
# notebook @ file:///croot/notebook_1668179881751/work
# notebook_shim @ file:///croot/notebook-shim_1668160579331/work
# numba @ file:///croot/numba_1670258325998/work
# numexpr @ file:///croot/numexpr_1668713893690/work
# numpy==1.21.6
# oauthlib==3.2.2
# opencv-python==4.7.0.72
# opt-einsum==3.3.0
# otpy==0.0.3
# packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
# pandas==1.3.5
# pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
# panel @ file:///croot/panel_1676379587510/work
# param @ file:///croot/param_1671697421807/work
# parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
# partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
# persim==0.3.1
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
# Pillow==9.2.0
# pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
# ply==3.11
# prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
# prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
# protobuf==3.19.6
# psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
# pyasn1==0.4.8
# pyasn1-modules==0.2.8
# pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
# pyct @ file:///croot/pyct_1675441480074/work
# pyemd==1.0.0
# pygad==2.18.1
# Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
# pynndescent==0.5.7
# pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
# pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
# PyQt5-sip==12.11.0
# pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636098896055/work
# PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
# python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
# python-louvain==0.16
# pytz @ file:///croot/pytz_1671697431263/work
# pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1623747165329/work
# PyWavelets @ file:///tmp/build/80754af9/pywavelets_1648727874099/work
# PyYAML @ file:///croot/pyyaml_1670514731622/work
# pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
# rdflib==6.3.2
# requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
# requests-oauthlib==1.3.1
# ripser==0.6.4
# ripserplusplus==1.1.3
# rsa==4.9
# rtd @ git+https://github.com/IlyaTrofimov/RTD.git@f47c99e4784173b8b43441b61f71f9d585f85d52
# scikit-image @ file:///croot/scikit-image_1669241743693/work
# scikit-learn==1.0.2
# scipy @ file:///opt/conda/conda-bld/scipy_1661390393401/work
# Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
# sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
# six @ file:///tmp/build/80754af9/six_1644875935023/work
# sniffio @ file:///tmp/build/80754af9/sniffio_1614030478629/work
# soupsieve @ file:///croot/soupsieve_1666296392845/work
# sympy==1.10.1
# tensorboard==2.11.2
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.1
# tensorflow==2.11.0
# tensorflow-estimator==2.11.0
# tensorflow-io-gcs-filesystem==0.30.0
# termcolor==2.2.0
# terminado @ file:///croot/terminado_1671751832461/work
# threadpoolctl==3.1.0
# tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
# tinycss2 @ file:///croot/tinycss2_1668168815555/work
# toml @ file:///tmp/build/80754af9/toml_1616166611790/work
# toolz @ file:///croot/toolz_1667464077321/work
# torch==1.12.1
# torch-geometric==2.3.0
# torchaudio==0.12.1
# torchvision==0.13.1
# tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
# tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
# traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
# typing_extensions==4.4.0
# umap-learn==0.5.3
# urllib3 @ file:///croot/urllib3_1666298941550/work
# wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
# webencodings==0.5.1
# websocket-client @ file:///tmp/build/80754af9/websocket-client_1614804260725/work
# Werkzeug==2.2.2
# wrapt==1.14.1
# xarray @ file:///opt/conda/conda-bld/xarray_1639166117697/work
# zipp @ file:///croot/zipp_1672387121353/work
